<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block header %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>Привет, я автор</h1>
    <p>
      Меня зовут Денис. 
      В настоящий момент решил посвятить время учебе, это мой первый проект 
      написанный с помощью фреймворка Django на языке Python. 
      Никогда ранее не занимался программированием поэтому не судите строго":)".
      Постепенно буду улучшать данный проект. 
    </p>
  </div>
{% endblock %} 