<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block header %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
  <div class="container py-5">
    <div class="row">
      <h1>Вот что я умею</h1>
      {% comment %}
        Боковой блок со списком технологий 
        Займет всю ширину блока на мобильном
        и 25% при размерах экрана ≥768px
      {% endcomment %}
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Python
          </li>
          <li class="list-group-item">
            Django
          </li>
          <li class="list-group-item">
            CSS
          </li>
          <li class="list-group-item">
            HTML
          </li>
          <li class="list-group-item">
            BASH
          </li>
          <li class="list-group-item">
            SQLite
          </li>
          <li class="list-group-item">
            Bootstrap
          </li>
        </ul>
      </aside>
      {% comment %}
        Статья  
        Займет всю ширину блока на мобильном
        и 75% при размерах экрана ≥768px
      {% endcomment %}
      <article class="col-12 col-md-9">
        <p>
          В данном проекте применил знания в основном по работе с базами данных
          SQLite, фильтрацию через ORM и немного css. 
          Разобрался в работе декораторов и применил их в проекте.
          Трудно далось изучение и применение валидации форм, работа с формами 
          тяжело дается, так что последнее задание решил отчасти интуитивно. 
          Но радует что решил и что есть примерно понимание работы форм, 
          моделей и вьюшек, хотелось бы конечно больше опыта в этом получить и 
          самое главное получать более детальную информацию по таким сложным темам.
          Также было интересно написание тестов и технология разработки кода TDD. 
        </p>
      </article>
    </div>
  </div>
{% endblock %} 